<a href="https://colab.research.google.com/github/anurag819/Rock_vs_mine_detection/blob/main/Rock_vs_mine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [ ]:
# Load the dataset into pandas dataframe
sonar_data= pd.read_csv("/content/Sonar data.csv", header= None)
sonar_data.head()

In [ ]:
sonar_data.describe()

In [ ]:
sonar_data[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

Now grouping the data (by Mine vs Rock)

In [ ]:
sonar_data.groupby(60).mean()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

In [ ]:
# Separating data and labels
X= sonar_data.drop(columns=60, axis=1)
Y= sonar_data[60]

In [ ]:
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=0.1, stratify= Y, random_state=1)
print(X.shape, X_train.shape, X_test.shape)

(208, 60) (187, 60) (21, 60)

Model Training by Logistic Regression

In [ ]:
model= LogisticRegression()

# Training the model with the training data
model.fit(X_train, Y_train)

LogisticRegression()

Testing the model on basis of accuracy

In [ ]:
# Training data accuracy
X_train_prediction= model.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

print("Training data accuracy is :", training_data_accuracy)

Training data accuracy is : 0.8342245989304813

In [ ]:
# Testing data acuuracy
X_test_prediction= model.predict(X_test)
test_data_accuracy= accuracy_score(X_test_prediction, Y_test)

print("Test data accuracy is :", test_data_accuracy)

Test data accuracy is : 0.7619047619047619

Making a Predictive System

In [ ]:
input_data= (0.0272,0.0378,0.0488,0.0848,0.1127,0.1103,0.1349,0.2337,0.3113,0.3997,0.3941,0.3309,0.2926,0.1760,0.1739,0.2043,0.2088,0.2678,0.2434,0.1839,0.2802,0.6172,0.8015,0.8313,0.8440,0.8494,0.9168,1.0000,0.7896,0.5371,0.6472,0.6505,0.4959,0.2175,0.0990,0.0434,0.1708,0.1979,0.1880,0.1108,0.1702,0.0585,0.0638,0.1391,0.0638,0.0581,0.0641,0.1044,0.0732,0.0275,0.0146,0.0091,0.0045,0.0043,0.0043,0.0098,0.0054,0.0051,0.0065,0.0103)

#changing the input data into a numpy array
input_into_numpy_array= np.array(input_data)

# reshaping the np array as we are predicting for only one instance
input_data_reshaped= input_into_numpy_array.reshape(1, -1)

prediction= model.predict(input_data_reshaped)
print(prediction)

if(prediction[0]=='R'):
  print('The object is a rock')

else:
  print('The object is a mine')

['M']
The object is a mine